@import "tailwindcss";

html {
  font-size: 62.5%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

section {
  max-width: 140rem;
  margin: 0 auto;
  width: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@theme {
  --color-primary: #055b2c;
  --color-letter: #e8f3f5;
  --color-secondary: #0a4ba1;
}
