.hero_banner::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.308);
}
.project_img {
  height: 15rem;
}
.blog_img {
  height: 20rem;
}
.card-content {
  h3 {
    font-size: 2.1rem;
  }
  span {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.4rem;
  }
}
.swiper-wrapper {
  padding: 5rem 0;
}
.page_main_img {
  height: 60vh;
  width: 100%;
  max-height: 45rem;
  object-fit: cover;
}
